:root{
    --bg: #feffff;
    --text: #17252a;
    --sec: #17252a;
    --btn: #3aafa9;
    --btn-text:#def2f1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  overflow-y: scroll;
  padding-top: 60px;
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
    width: calc(100vw );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}